/**
 * @author lemon3364586<jun3364586@outlook.com>
 * @description 公共样式
 */

// 清除部分样式
.reset {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
  color: inherit;
  border: 0;
}

// 定义内外边距，历遍1-100
@for $i from 0 through 100 {
  // 得出：margin-30 或 m-30
  .margin-#{$i},
  .m-#{$i} {
    margin: $i + px;
  }

  // 得出：padding-30 或 p-30
  .padding-#{$i},
  .p-#{$i} {
    padding: $i + px;
  }

  // 只要双数和能被5除尽的数
  @if $i % 2 == 0 or $i % 5 == 0 {
    // 定义缩写
    @each $short, $long in l left, t top, r right, b bottom {
      // 定义外边距
      .m-#{$short}-#{$i} {
        margin-#{$long}: $i + px;
      }
      // 定义内边距
      .p-#{$short}-#{$i} {
        padding-#{$long}: $i + px;
      }
    }
  }
}

// 定义圆角
.radius-half {
  // 圆角一半
  border-radius: 9999px;
}
@for $i from 0 through 50 {
  .radius-#{$i} {
    border-radius: $i + px;
  }
  .radius-tl-#{$i} {
    border-top-left-radius: $i + px;
  }
  .radius-tr-#{$i} {
    border-top-right-radius: $i + px;
  }
  .radius-bl-#{$i} {
    border-bottom-left-radius: $i + px;
  }
  .radius-br-#{$i} {
    border-bottom-left-radius: $i + px;
  }
}

// 文本行数限制，超过显示 …
.line-1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@for $i from 2 through 10 {
  .line-#{$i} {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
  }
}
