/**
 * 这里是此项目内置的常用样式及变量
 *
 * 全局 css 变量，可在全局 scss 样式中使用
 *
 */

// 主题颜色
$color-primary: #409eff;
$color-success: #67c23a;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;
// 字体配置
$font-small: 12px;
$font-default: 16px;
$font-big: 20px;
$font-bigger: 24px;
$font-max: 30px;
$font-color: #000;
